beautifulsoup4==4.6.0
bs4==0.0.1
CacheControl==0.12.3
cachetools==2.1.0
certifi==2018.4.16
Flask==0.12.2
Flask-Cors==3.0.3
graphviz==0.8.4
gunicorn==19.8.1
Jinja2==2.9.6
jmespath==0.9.3
jsonschema==2.6.0
kdtree==0.16
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
locket==0.2.0
lockfile==0.12.2
lxml==4.2.1
mrjob==0.6.3
nltk==3.2.4
numpy==1.13.3
numpydoc==0.7.0
pandas==0.20.3
Pillow==4.2.1
requests==2.18.4
requests-oauthlib==0.8.0
scikit-image==0.13.0
scikit-learn==0.19.1
scipy==0.19.1
selenium==3.11.0
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
splinter==0.7.7
spyder==3.2.4
SQLAlchemy==1.1.13
tensorboard==1.8.0
tensorflow==1.8.0

